        </div><!-- container fluid -->
    </main>

    <footer>
            <div class="container-fluid">
                <p class="copyright float-right">&copy; Alex Wee</p>
            </div>
    </footer>
  
</body>

    <script src="/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    
</html>